* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  user-select: none;
}

body {
  background-color: #CEDFF2;
  color: #34383D;
}

h1 {
  padding: 10px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.App--header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #85B9F0;
  width: 100%;
}

.App--stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  row-gap: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.App--stats h2 {
  padding: 5px 25px;
  border-radius: 10px;
  color: white;
  background-color: #3E5670;
}

.App--main {
  flex: 1;
}

.App--cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 40px;
  max-width: 800px;
}

.card {
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  background-color: #F0F0F0;
}

.card:active {
  transform: scale(0.95);
}

.card img {
  height: 100px;
  width: 100px;
}

.App--winner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.App--winner h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin: 10px;
}

.App--winner button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #85B9F0;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.App--winner button:hover {
  background-color: #76a4d4;
}

.App--winner button:active {
  background-color: #597fa7;
  transform: scale(0.95);
}

.App--github-link {
  color: #3E5670;
  font-size: 2.5em;
  margin-bottom: 20px;
  margin-top: auto;
}

.App--github-link:hover {
  color: #597fa7;
}